/*
* Newport County AFC Badge
* By Darren Williams
*
*/

#wrap{
	width:612px;
	height:612px;
	padding:10px;
	position:relavive;
}

/* Circles */

#blackCircle{
  width:600px;
  height:600px;
  background:#000;
  border:solid 6px #ffa15b;
  border-radius:50%;
  position:relative;
}

#innerWhiteCircle{
  width:400px;
  height:400px;
  background:#fff;
  border-radius:50%;
  position:absolute;
  top:100px;
  left:100px;
  overflow:hidden;
}

/* Black Chevron */

#chevron {
  position:relative;
  top:210px;
  left:180px;
  height:90px;
  width:240px;
  z-index:99;
}

#chevron:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:50%;
	background:#000;
	-webkit-transform:skew(0deg, 45deg);
	-moz-transform:skew(0deg, 6deg);
	-ms-transform:skew(0deg, 6deg);
	-o-transform:skew(0deg, 6deg);
	transform:skew(0deg, 6deg);
}

#chevron:after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:100%;
  width:50%;
  background:#000;
  -webkit-transform:skew(0deg, -45deg);
  -moz-transform:skew(0deg, -6deg);
  -ms-transform:skew(0deg, -6deg);
  -o-transform:skew(0deg, -6deg);
  transform:skew(0deg, -6deg);
}

/* Shield */

#shield{
	position:absolute;
	z-index:90;
	top:158px;
	left:180px;
}

#shield:before{
  content:"";
  position: absolute;
  width:240px;
  height:150px;
background:#ffa15b;
}

#shield:after{
  content:"";
  position: absolute;
  top:34px;
  width:240px;
  height:240px;
	background:#ffa15b;
  border-radius:120px 50px 120px;
  -webkit-transform:rotate(-45deg);
}

/* Gives the shield its black border */

#backShield{
	position:absolute;
	z-index:80;
	top:152px;
	left:176px;
}

#backShield:before{
  content:"";
  position: absolute;
  width:248px;
  height:158px;
background:#000;
}

#backShield:after{
  content:"";
  position: absolute;
  top:40px;
  width:248px;
  height:248px;
	background:#000;
  border-radius:124px 50px 124px;
  -webkit-transform:rotate(-45deg);
}

/* Line Masks */

#maskOne {
  position:absolute;
  top:46px;
  right:0;
  left:0;
  margin:0 auto;
  width:288px;
  height:304px;
  background:#fff;
  border-radius:60% / 10%;
  z-index:4;
}

#maskTwo {
  position:absolute;
  top:62px;
  right:0;
  left:0;
  margin:0 auto;
  width:334px;
  height:272px;
  background:#fff;
  border-radius:12% / 60%;
  z-index:5;
  overflow:hidden;
}

/* Black Curved Lines */

#hCenterLine{
  width:440px;
  height:110px;
  position:absolute;
  top:70px;
  left:-60px;
  border-radius:50%;
  background:#fff;
  border:solid 7px #000;
}

#htopLine{
  width:330px;
  height:20px;
  background:#000;
  position:absolute;
  top:40px;
  left:0;
  right:0;
  margin:0 auto;
  border-top:solid 50px #000;
  border-radius:50% / 50%;
  z-index:2;
}

#htopLine:after{
  content:" ";
  width:380px;
  height:1px;
  position:absolute;
  top:-43px;
  left:-20px;
  border-top:solid 100px #fff;
  border-radius:50% / 50%;
}

#vLeftLine{
  width:20px;
  height:280px;
  background:#000;
  position:absolute;
  top:60px;
  left:27px;
  border-left:solid 50px #000;
  border-radius:50% / 50%;
  z-index:2;
}

#vRightLine{
  width:20px;
  height:280px;
  background:#000;
  position:absolute;
  top:60px;
  right:27px;
  border-left:solid 50px #000;
  border-radius:50% / 50%;
  z-index:2;
}

#hBottomLine{
  width:340px;
  height:20px;
  background:#000;
  position:absolute;
  bottom:44px;
  left:0;
  right:0;
  margin:0 auto;
  border-top:solid 50px #000;
  border-radius:50% / 50%;
  z-index:2;
}

#hBottomLine:after{
  content:" ";
  width:380px;
  height:1px;
  position:absolute;
  bottom:6px;
  left:-20px;
  border-top:solid 100px #fff;
  border-radius:50% / 50%;
}

#vTop_lines{
  width:100px;
  height:100px;
  background:#fff;
  border:solid 7px #000;
  border-radius:50%;
  position:absolute;
  top:-30px;
  right:0;
  left:0;
  margin:0 auto;
  z-index:0;
}

#vBottomLines{
  width:100px;
  height:100px;
  background:#fff;
  border:solid 7px #000;
  border-radius:50%;
  position:absolute;
  bottom:-30px;
  right:0;
  left:0;
  margin:0 auto;
  z-index:0;
}

/* Bottom Dots */

#leftDot,
#rightDot{
  width:30px;
  height:30px;
  border-radius:50%;
  background:#ffa14d;
  position:absolute;
  bottom:80px;
}

#leftDot{
  left:140px;
}

#rightDot{
  right:140px;
}

/* Text */

h1{
	font:56px arial;
	text-transform:uppercase;
	position:absolute;
	color:#fff;
}

h1 span {
	height:280px;
	z-index:99;
	position:absolute;
	/*background:rgba(124,124,124,0.5);*/
}

h1 span.bt{
	height:64px;
	padding-top:240px;
	z-index:99;
	position:absolute;
	/*background:rgba(124,124,124,0.5);*/
	text-transform:lowercase;
	font:72px arial;
}

/*Letters*/

/*NEWPORT COUNTY AFC*/

.n{
	-webkit-transform:rotate(-70deg);
	-moz-transform:rotate(-70deg);
	-ms-transform:rotate(-70deg);
	-o-transform:rotate(-70deg);
	top:70px;
	left:155px;
}

.e{
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
	-ms-transform:rotate(-60deg);
	-o-transform:rotate(-60deg);
	top:50px;
	left:166px;
}

.w{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	top:35px;
	left:168px;
}

.p{
	-webkit-transform:rotate(-37deg);
	-moz-transform:rotate(-37deg);
	-ms-transform:rotate(-37deg);
	-o-transform:rotate(-37deg);
	top:13px;
	left:200px;
}

.o{
	-webkit-transform:rotate(-29deg);
	-moz-transform:rotate(-29deg);
	-ms-transform:rotate(-29deg);
	-o-transform:rotate(-29deg);
	top:0;
	left:216px;
}

.r{
	-webkit-transform:rotate(-22deg);
	-moz-transform:rotate(-22deg);
	-ms-transform:rotate(-22deg);
	-o-transform:rotate(-22deg);
	top:-10px;
	left:244px;
}

.t{
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	top:-14px;
	left:260px;
}

/* COUNTY */

.c{
	top:-16px;
	left:280px;
}

.o2{
	-webkit-transform:rotate(8deg);
	-moz-transform:rotate(8deg);
	-ms-transform:rotate(8deg);
	-o-transform:rotate(8deg);
	top:-14px;
	left:306px;
}

.u{
	-webkit-transform:rotate(18deg);
	-moz-transform:rotate(18deg);
	-ms-transform:rotate(18deg);
	-o-transform:rotate(18deg);
	top:-8px;
	left:330px;
}

.n2{
	-webkit-transform:rotate(26deg);
	-moz-transform:rotate(26deg);
	-ms-transform:rotate(26deg);
	-o-transform:rotate(26deg);
	top:2px;
	left:355px;
}

.t2{
	-webkit-transform:rotate(34deg);
	-moz-transform:rotate(34deg);
	-ms-transform:rotate(34deg);
	-o-transform:rotate(34deg);
	top:13px;
	left:376px;
}

.y{
	-webkit-transform:rotate(42deg);
	-moz-transform:rotate(42deg);
	-ms-transform:rotate(42deg);
	-o-transform:rotate(42deg);
	top:26px;
	left:389px;
}


/* AFC */

.a{
	-webkit-transform:rotate(53deg);
	-moz-transform:rotate(53deg);
	-ms-transform:rotate(53deg);
	-o-transform:rotate(53deg);
	top:36px;
	left:396px;
}

.f{
	-webkit-transform:rotate(62deg);
	-moz-transform:rotate(62deg);
	-ms-transform:rotate(62deg);
	-o-transform:rotate(62deg);
	top:56px;
	left:408px;
}

.c2{
	-webkit-transform:rotate(72deg);
	-moz-transform:rotate(72deg);
	-ms-transform:rotate(72deg);
	-o-transform:rotate(72deg);
	top:70px;
	left:414px;
}

/* exiles */

.e2{
	-webkit-transform:rotate(16deg);
	-moz-transform:rotate(16deg);
	-ms-transform:rotate(16deg);
	-o-transform:rotate(16deg);
	top:230px;
	left:250px;
}

.x{
	-webkit-transform:rotate(8deg);
	-moz-transform:rotate(8deg);
	-ms-transform:rotate(8deg);
	-o-transform:rotate(8deg);
	top:235px;
	left:270px;
}

.i{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	top:237px;
	left:290px;
}

.l{
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	top:237px;
	left:300px;
}

.e3{
	-webkit-transform:rotate(-8deg);
	-moz-transform:rotate(-8deg);
	-ms-transform:rotate(-8deg);
	-o-transform:rotate(-8deg);
	top:235px;
	left:300px;
}

.s{
	-webkit-transform:rotate(-16deg);
	-moz-transform:rotate(-16deg);
	-ms-transform:rotate(-16deg);
	-o-transform:rotate(-16deg);
	top:230px;
	left:320px;
}

/* 1912 */

.num1{
	-webkit-transform:rotate(70deg);
	-moz-transform:rotate(70deg);
	-ms-transform:rotate(70deg);
	-o-transform:rotate(70deg);
	top:145px;
	left:165px;
}

.num9{
	-webkit-transform:rotate(65deg);
	-moz-transform:rotate(65deg);
	-ms-transform:rotate(65deg);
	-o-transform:rotate(65deg);
	top:165px;
	left:175px;
}

.num12{
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
	-ms-transform:rotate(60deg);
	-o-transform:rotate(60deg);
	top:185px;
	left:185px;
}

.num2{
	-webkit-transform:rotate(50deg);
	-moz-transform:rotate(50deg);
	-ms-transform:rotate(50deg);
	-o-transform:rotate(50deg);
	top:190px;
	left:190px;
}

/* 1989 */

.num13{
	-webkit-transform:rotate(-50deg);
	-moz-transform:rotate(-50deg);
	-ms-transform:rotate(-50deg);
	-o-transform:rotate(-50deg);
	top:190px;
	left:380px;
}

.num92{
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
	-ms-transform:rotate(-60deg);
	-o-transform:rotate(-60deg);
	top:180px;
	left:385px;
}

.num8{
	-webkit-transform:rotate(-65deg);
	-moz-transform:rotate(-65deg);
	-ms-transform:rotate(-65deg);
	-o-transform:rotate(-65deg);
	top:160px;
	left:400px;
}

.num93{
	-webkit-transform:rotate(-70deg);
	-moz-transform:rotate(-70deg);
	-ms-transform:rotate(-70deg);
	-o-transform:rotate(-70deg);
	top:135px;
	left:410px;
}

/*
	stop(); //Hammertime !
*/